html, body {
    background-color: rgb(167, 222, 222);
    background: url(https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/12187654_1721958894702748_7681855032431534199_n.jpg?oh=437a81a855a764f678050c429b191194&oe=58922A1D) no-repeat center center fixed;
    background-size: cover;
} 

/* Common */
.container {
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 66, 75, .9);
}


.divide {
    border-top: 1px solid rgb(95, 200, 196);
    height: 30px;
    border-radius: 0;
}

.nav-pills li a:hover {
    background-color: rgb(95, 200, 196);
}

address {
    font-size: 12px;
    color: rgb(95, 200, 196);
}

.labels {
    margin: 30px;
}

.label {
    font-size: 12px;
    margin: 2px;
    margin-top: 20px;
}

/* Header */

.header {
    margin-top: 50px;
    text-align: center;
    float: left;
    position: fixed;
}

.header .container {
    width: 100%;
    padding: 40px 50px 40px 50px;
}

.header img {
    width: 150px;
    border-radius: 100%;
}

.header h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.header ul {
    list-style: none;
}

.header a{
    color: white;
}

/* Section */
.section {
    margin-top: 50px;
    position: relative;
}

.section .container{
    width: 70%;
    padding: 0 40px 40px 40px;
    border-top: 3px solid rgb(95, 200, 196);
}

.section .content {
    font-size: 30px;
    text-align: center;
    color: rgb(95, 200, 196);
    margin-bottom: 25px;
    margin-top: -30px;
    text-transform: uppercase;
}

.section h4 {
    font-size: 15px;
}

.section ul {
    margin-bottom: 30px;
}

/* footer */
.footer {
    margin-top: 50px;
    clear: both;
}

.footer .container {
    height: 80px;
    padding: 20px;
    text-align: right;
}

.footer h4{
    font-size: 10px;
    margin-right: 200px;
}







